@font-face {
    font-family: 'Cinzel-Regular';
    src:  url('./fonts/Cinzel-Regular.otf') format("opentype")
}

@font-face {
    font-family: 'RedHatDisplay-Bold';
    src:  url('./fonts/RedHatDisplay-Bold.ttf') format("truetype")
}

@font-face {
    font-family: 'RedHatDisplay-Regular';
    src:  url('./fonts/RedHatDisplay-Regular.ttf') format("truetype")
}

@font-face {
    font-family: 'RedHatDisplay-Light';
    src:  url('./fonts/RedHatDisplay-Light.ttf') format("truetype")
}