@import "base.css";
@import "_fonts.scss";
@import "_variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
  flex-grow: 1;
  font-family: Cinzel-Regular, sans-serif;
  line-height: 100.9%;
}