$head-h1-font-size: 117px;
$main-h1-font-size: 60px;
$main-h2-font-size: 70px;
$secondary-h2-font-size: 28px;
$main-text-font-size: 20px;
$secondary-text-font-size: 20px;
$third-party-text-font-size: 30px;
$forth-party-text-font-size: 40px;
$fifth-party-text-font-size: 18px;